body {
    color: white;
    font-weight: bold;
    font-size: 36px;
}

table {
    padding: 10px 10px 10px 10px;
    border-spacing: 0.3cm;
}

td{
    border-radius: 50%;
    background-color: #17B5B5;
    font-size: 36px;
    width: 130px;
    height: 130px;
    text-align: center;
}

.first {
    background-color: #B90CEB;
}

.last {
    background-color: #EBBE0C;
}