@model ToDoApp.Models.ToDo
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>ToDos for today</title>
</head>
<body>
    <p>@Model.Id</p>
    <p>@Model.Title</p>
    <p>@Model.IsDone</p>
    <p>@Model.IsUrgent</p>
</body>
</html>
