@model ToDoApp.Models.ToDo
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>@Model.Id</p>
    <p>@Model.Title</p>
    <p>@Model.IsDone</p>
    <p>@Model.IsUrgent</p>
</body>
</html>
