<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FoxManager</title>
</head>
<body>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="/team">Teams</a></li>
        <li><a href="">Classes</a></li>
    </ul>
    <h1>Login</h1>
    <form action="/home" method="post">
        <label for="studentName">Student name: </label>
        <input type="text" id="studentName" name="StudentName" />
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>
