<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="home" method="post">
        <label for="userName">User name: </label>
        <input type="text" id="userName" name="Name" />
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>
