<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>Login</h1>
    <form action="/home" method="post">
        <label for="authorName">Author name: </label>
        <input type="text" id="authorName" name="Name"/>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>
