@model LoginApp.Models.Author
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>You logged in @Model.Name</h1>
    <p>You are from @Model.City city from @Model.Country</p>
</body>
</html>