
body {
   font-family: serif;
}

div {
    color: #4F4765;
    font-weight: bold;
}
#contentbox {
    box-sizing: border-box;
    background: #DCD6CD;
    width: 620px;
    height: 700px;
    margin: 0 auto;
    position: absolute;
    text-align: left;
    color: #A6A0A5;
    font-size: 18px;

}

.box {
    background: #DCD6CD;
    position: relative;    
}

.box.first {
    margin: 0 auto;
    top: 20px;
    width: 550px;
    height: 20px;
}

.box.second {
    width: 42.5%;
    height: 400px;
    top: 40px;
    float: left;
    margin-left: 35px;
}

.header {
    background: #938C97;
    position: relative;
    color: white;
    border-radius: 2%;
    text-align: left;
}

.left.header{
    float: left;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.block {   
    width: 50%;
    height: 60px;
    top: 100px; 
    margin-bottom: 10px;
}

.block.second {
    float: right;  
}

.block.first {
    float: left;
}

.box.third {
    width: 42.5%;
    height: 400px;
    top: 40px;
    float: right;
    margin-right: 35px;
}


input[id="birthdate"] {
    display: block;
}

input[type="text"], 
input[type="email"] {
    border-radius: 5px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    display: inline;
}

.right.header{
    float: right;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

select {
    border-radius: 5px;
    height: 30px;
    margin-top: 10px;
}

.checkbox-grid li{
    display: block;
    float: left;
    width: 50%;
    margin-bottom: 5px;
}

p .info {
    color: grey;
}

.box.fourth {
    width: 550px;
    height: 160px;
    margin: 0 auto;
    top: 450px;
}





