table {
    border: 15px solid #4285F4;
    width: 380px;
    height: 550px;
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    border-collapse: collapse;
    color: white;
}

tr:nth-of-type(1) {
    background-color: #E67676;
}
tr:nth-of-type(2) {
    background-color: #F2F062;
}
tr:nth-of-type(3) {
    background-color: #A9E6E6;
}
tr:nth-of-type(4) {
    background-color: #7692E4;
}
