body {
    font-family: "Times New Roman";
}

h1 {
    color: #FF7156;
}

h2 {
    color: #9857E7;
}

p {
    width: 400px;
}

ol li {
    color: #FF8DFF;
    text-decoration: underline;
}

ol li:last-child {
    color: black;
}